// COLORS

$bg-primary-color: #FFEFDC;
$color-dark-primary: #121212;
$color-dark-secondary: #4A4A4A;
$color-light-primary: #F0F0F0;
//FONTS

$Display-font: "Work Sans",
"san-serif";

//Mixins
@mixin breakpoint($point) {
    @if $point==tablet {
        @media only screen and (max-width: 1280px) {
            @content;
        }
    }

    @else if $point==phone {
        @media only screen and (max-width: 700px) {
            @content;
        }
    }
}

//ILLUSTRATION