// COLORS

$bg-primary-color: #FFEFDC;
$color-dark-primary: #121212;
$color-dark-secondary: #4A4A4A;
$color-light-primary: #F0F0F0;
//FONTS

$Display-font: "Work Sans",
"san-serif";

//Mixins

//ILLUSTRATION