.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 20;
}


.centerPiece {
    z-index: 21;
    width: 4em;
    height: 4em;
    border-radius: 30px;
    background-color: black;
    background-color: rebeccapurple;
    background-image: linear-gradient(45deg, black, black .5%,
            gold .5%, gold 7.6%,
            black 7.6%, black 8.642857143%,
            darkorange 8.642857143%, darkorange 15.64285714%,
            black 15.64285714%, black 16.88571429%,
            crimson 16.88571429%, crimson 23.84285714%,
            black 23.84285714%, black 25%,
            transparent 25%),
        linear-gradient(-45deg, black, black .5%,
            gold .5%, gold 7.6%,
            black 7.6%, black 8.642857143%,
            darkorange 8.642857143%, darkorange 15.64285714%,
            black 15.64285714%, black 16.88571429%,
            crimson 16.88571429%, crimson 23.84285714%,
            black 23.84285714%, black 25%,
            transparent 25%),
        linear-gradient(45deg, transparent 73.857142860%, black 73.857142860%, black 75%, transparent 75%),
        linear-gradient(-45deg, transparent 73.857142860%, black 73.857142860%, black 75%, transparent 75%),

        linear-gradient(45deg, transparent 66.857142860%, crimson 66.857142860%, crimson 73.857142860%, transparent 73.857142860%),
        linear-gradient(-45deg, transparent 66.857142860%, crimson 66.857142860%, crimson 73.857142860%, transparent 73.857142860%),

        linear-gradient(45deg, transparent 65.714285710%, black 65.714285710%, black 66.857142860%, transparent 66.857142860%),
        linear-gradient(-45deg, transparent 65.714285710%, black 65.714285710%, black 66.857142860%, transparent 66.857142860%),

        linear-gradient(45deg, transparent 58.714285710%, darkorange 58.714285710%, darkorange 65.714285710%, transparent 65.714285710%),
        linear-gradient(-45deg, transparent 58.714285710%, darkorange 58.714285710%, darkorange 65.714285710%, transparent 65.714285710%),

        linear-gradient(45deg, transparent 57.571428570%, black 57.571428570%, black 58.714285710%, transparent 58.714285710%),
        linear-gradient(-45deg, transparent 57.571428570%, black 57.571428570%, black 58.714285710%, transparent 58.714285710%),

        linear-gradient(45deg, transparent 50.571428570%, gold 50.571428570%, gold 57.571428570%, transparent 57.571428570%),
        linear-gradient(-45deg, transparent 50.571428570%, gold 50.571428570%, gold 57.571428570%, transparent 57.571428570%),

        linear-gradient(45deg, transparent 49.428571430%, black 49.428571430%, black 50.571428570%, transparent 50.571428570%),
        linear-gradient(-45deg, transparent 49.428571430%, black 49.428571430%, black 50.571428570%, transparent 50.571428570%),

        linear-gradient(45deg, transparent 42.428571430%, forestgreen 42.428571430%, forestgreen 49.428571430%, transparent 49.428571430%),
        linear-gradient(-45deg, transparent 42.428571430%, forestgreen 42.428571430%, forestgreen 49.428571430%, transparent 49.428571430%),

        linear-gradient(45deg, transparent 41.285714290%, black 41.285714290%, black 42.428571430%, transparent 42.428571430%),
        linear-gradient(-45deg, transparent 41.285714290%, black 41.285714290%, black 42.428571430%, transparent 42.428571430%),

        linear-gradient(45deg, transparent 34.285714290%, royalblue 34.285714290%, royalblue 41.285714290%, transparent 41.285714290%),
        linear-gradient(-45deg, transparent 34.285714290%, royalblue 34.285714290%, royalblue 41.285714290%, transparent 41.285714290%),

        linear-gradient(45deg, transparent 33.142857143%, black 33.142857143%, black 34.285714290%, transparent 34.285714290%),
        linear-gradient(-45deg, transparent 33.142857143%, black 33.142857143%, black 34.285714290%, transparent 34.285714290%);
}